img {
    width: 200px;
}
body {
   text-align: center
   ;
   font-size: x-large;
   font-family: inherit;
    text-transform: capitalize
    <script src="https://speedfont.com/api?key=qZclOcRkqefx"></script>
   }