img {
    width: 90px;
}
body {
    background-color: "drkrainbow.gif" bgcolor="#333333"
    text-align: center;
}
p {
    font-family: "Comic sans";
}
.box{
	width:100px;
	height:100px;
}
 
.red{
	background:#f00;
}
.green{
	background:#0f0;
}
.blue{
	background:#00f;
}
